@page "/attribute-parameters"

<h1>Attribute parameters</h1>

<p>
    <h4>Passing parameters through component attributes:</h4>

    <AttributeComponent myAttrivuteParameter="@Value1"></AttributeComponent>

</p>

@code {
    string Value1 = "My attribute string";

}
