@page "/top-rated"

<h1>Top rated movies</h1>

<div class="columns is-multiline">
    @if (isLoading)
    {
        <Loader></Loader>
    }
    else
    {
        foreach (var movie in moviePage.results)
        {
            if (movie != null)
            {
                <MovieComponent movie="@movie" movieImageBaseUri="@movieImageBaseUri"></MovieComponent>
            }
        }
    }
</div>