@page "/parameters"
@page "/parameters/{value1}"
@page "/parameters/{value1}/{value2}"
@page "/parameters/{value1}/{value2}/{value3:int}"

<h1>Route parameters</h1>

<p>
    <h4>Value</h4>
    <NavLink class="nav-link" href="/parameters/value1" Match="NavLinkMatch.All">/parameters/value1</NavLink>
    <div>
        <code>Value1:</code> @Value1
    </div>
</p>

<p>
    <h4>Nested value</h4>
    <NavLink class="nav-link" href="/parameters/value1/value2" Match="NavLinkMatch.All">/parameters/value1/value2</NavLink>
    <div>
        <code>Value2:</code> @Value2
    </div>
</p>

<p>
    <h4>Int type</h4>
    <NavLink class="nav-link" href="/parameters/value1/value2/3" Match="NavLinkMatch.All">/parameters/value1/value2/3</NavLink>
    <div>
        <code>Value3:</code> @Value3
    </div>
</p>

<p>
    <h4>Felaktig type</h4>
    <NavLink class="nav-link" href="/parameters/value1/value2/value3" Match="NavLinkMatch.All">/parameters/value1/value2/value3</NavLink>
</p>


@code {
    [Parameter]
    public string Value1 { get; set; }

    [Parameter]
    public string Value2 { get; set; }

    [Parameter]
    public int Value3 { get; set; }
}
