@inherits LayoutComponentBase

<div class="is-flex columns">
    <div class="sidebar column is-2">

        <NavMenu />

        <div id="sidebar--user" class="is-flex justify-content-between px-3" Flex="Flex.JustifyContent.Between">
            <span>@displayEmail</span>
            <button @onclick="@HandleLogout">Logout</button>
        </div>
    </div>


    <Login @ref="Login" @bind-User="@Login.User" />


    <div class="main column is-10">
        <div class="content px-4">

            <CascadingValue Value="CascadingValueString">
                <CascadingValue Value="CascadingValueInt">
                    <CascadingValue Value="CascadingValueStringName" Name="CascadingValueStringName">
                        <CascadingValue Value="CascadingValueIntName" Name="CascadingValueIntName">
                            @Body
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>

        </div>
    </div>
</div>

@code {

    string CascadingValueString = "Cascaded string";
    int CascadingValueInt = 25;

    string CascadingValueStringName = "Cascaded string with a name";
    int CascadingValueIntName = 100;




    protected Login Login { get; set; } = new Login();

    private string displayEmail
    {
        get
        {
            if (Login != null && Login.User != null)
            {
                return Login.User.Email;
            }
            else
                return "no email found";
        }
    }

    public async void HandleLogout()
    {
        await Login.HandleLogout();
    }
}



@*<CascadingValue Value="CascadingValueString">
        <CascadingValue Value="CascadingValueInt">
            @Body
        </CascadingValue>
    </CascadingValue>*@

@*<CascadingValue Value="CascadingValueString">
    <CascadingValue Value="CascadingValueInt">
        <CascadingValue Value="CascadingValueStringName" Name="CascadingValueStringName">
            <CascadingValue Value="CascadingValueIntName" Name="CascadingValueIntName">
                @Body
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>*@