<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column py-3">

        @foreach (Navigation navigation in NavigationMap.Navigations)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@navigation.Path" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> @navigation.Title
                </NavLink>
            </li>
        }

        @*
            <li class="nav-item px-3">
                 <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                 </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="top-rated">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Top rated
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="slow-loading">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Slow loading movies
                </NavLink>
            </li>
        *@

    </ul>

    <br /><br />
</div>

@code {
    [Parameter]
    public Login Login { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
