.navbar-toggler[b-n9o218qhqe] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-n9o218qhqe] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-n9o218qhqe] {
    font-size: 1.1rem;
}

.oi[b-n9o218qhqe] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-n9o218qhqe] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:last-of-type[b-n9o218qhqe] {
    padding-bottom: 1rem;
}

li.nav-item[b-n9o218qhqe] {
    height: 3rem;
}

.nav-item[b-n9o218qhqe]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 1rem;
    align-items: center;
    padding: .5rem;
    line-height: 3rem;
}

.nav-item[b-n9o218qhqe]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-n9o218qhqe]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-n9o218qhqe] {
        display: none;
    }

    .collapse[b-n9o218qhqe] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
